---
layout:     default
title:      Victor Nguyen
---

<div class="splash">

    <img src="/assets/dist/img/avatar.png" width="90" height="193" class="splash__avatar" alt="What I used to look like.">
    <h1>{{ site.me.name }}</h1>
    <h2>{{ site.me.title }}</h2>

    <div class="splash__intro">
        {% markdown intro.md %}
    </div>

    {% include social-links.html %}

</div>


{% comment %}

    <section>
        <h2>Blog</h2>

        {% for post in site.categories.blog limit: 2  %}

            <article>
                <header>
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  <p class="date">{{ post.date | date_to_string }}</p>
                </header>
                <section>{{ post.description }}</section>
            </article>

        {% endfor %}
    </section>

    <section>
        <h2>Projects</h2>

        {% for project in site.categories.projects limit: 2  %}

            <article>
                <header>
                  <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
                </header>
                <section>{{ project.description }}</section>
            </article>

        {% endfor %}
    </section>

{% endcomment %}
