@import "../components/bourbon/dist/_bourbon.scss";

// Icons from IconMoon
@include font-face(icons, "/assets/fonts/icons");

/* Use the following CSS code if you want to have a class per icon */
/*
    Instead of a list of all class selectors,
    you can use the generic selector below, but it's slower:
    [class*="icon-"] {
*/
.icon-github, .icon-twitter, .icon-linkedin, .icon-mail {
    font-family: icons;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-github:before {
    content: "\e001";
}
.icon-twitter:before {
    content: "\e002";
}
.icon-linkedin:before {
    content: "\e004";
}
.icon-mail:before {
    content: "\e005";
}