---
---

// base
@import "partials/base";

// partials
@import "partials/icons";


body {
    background: $yellow;
    font-family: 'PT Serif', $georgia;
}

a {
    color: $green;
}

em {
    font-style: italic;
}

.icon-link {
    display: inline-block;
    margin-right: 22px;
    &:hover {
        .icon {
            fill: $green;
        }
    }
}

.icon {
    display: inline-block;
    height: 46px;
    width: 46px;
}


h1 {
    font-size: 56px;
    font-weight: bold;
    color: $brown;
    margin: 0 0 0.35em 0;
    padding: 0;
    @include at-size(large) {
        font-size: 48px;
    }
    @include at-size(medium) {
        font-size: 44px;
    }
    @include at-size(small) {
        font-size: 38px;
        text-align: center;
    }
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: $green;
    margin: 0 0 0.25em 0;
    padding: 0;
    @include at-size(large) {
        font-size: 24px;
    }
    @include at-size(medium) {
        font-size: 22px;
    }
    @include at-size(small) {
        font-size: 24px;
        text-align: center;
    }
}

p {
    font-size: 22px;
    margin: 1em 0;
    line-height: 1.4em;
    @include at-size(large) {
        font-size: 20px;
    }
    @include at-size(medium) {
        font-size: 18px;
    }
}

#splash {
    position: relative;
    overflow: visible;
    margin:8% 20% 0 30%;
    padding-top: 40px;
    @include at-size(large) {
        margin:6% 15% 0 25%;
    }
    @include at-size(medium) {
        margin: 3% 10% 0 25%;
        padding-top: 35px;
    }
    @include at-maxwidth(599px) {
        padding-top: 20px;
    }
    @include at-size(small) {
        margin:0 5% 0 5%;
        padding-top: 0;
    }
}

#avatar {
    position: absolute;
    left: -134px;
    top: 0;
    display: block;
    @include at-size(medium) {
        left: -118px;
    }
    @include at-size(small) {
        position: relative;
        left: auto;
        margin: 0 auto;
        width: 72px;
        height: 155px;
    }
}