/* line 17, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/Cellar/ruby/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "icons";
  src: url(/assets/fonts/icons.eot) format('embedded-opentype'), url(/assets/fonts/icons.woff) format('woff'), url(/assets/fonts/icons.ttf) format('truetype'), url(/assets/fonts/icons.svg) format('svg');
}

/* Use the following CSS code if you want to have a class per icon */
/*
    Instead of a list of all class selectors,
    you can use the generic selector below, but it's slower:
    [class*="icon-"] {
*/
/* line 18, ../sass/screen.scss */
.icon-github, .icon-twitter, .icon-linkedin, .icon-mail {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 28, ../sass/screen.scss */
.icon-github:before {
  content: "\e001";
}

/* line 31, ../sass/screen.scss */
.icon-twitter:before {
  content: "\e002";
}

/* line 34, ../sass/screen.scss */
.icon-linkedin:before {
  content: "\e004";
}

/* line 37, ../sass/screen.scss */
.icon-mail:before {
  content: "\e005";
}

/* line 41, ../sass/screen.scss */
body {
  background: #e6d7b3;
  font-family: 'PT Serif', serif;
}

/* line 45, ../sass/screen.scss */
a {
  color: #5c832f;
}

/* line 48, ../sass/screen.scss */
a.icon-link {
  color: inherit;
  text-decoration: none;
  font-size: 36px;
  display: inline-block;
  margin-right: 22px;
}

/* line 55, ../sass/screen.scss */
a.icon-link:hover {
  color: #5c832f;
}

/* line 58, ../sass/screen.scss */
h1 {
  font-size: 56px;
  font-weight: bold;
  color: #382513;
  margin: 0 0 0.35em 0;
  padding: 0;
}

/* line 65, ../sass/screen.scss */
h2 {
  font-size: 28px;
  font-weight: bold;
  color: #5c832f;
  margin: 0 0 0.25em 0;
  padding: 0;
}

/* line 72, ../sass/screen.scss */
p {
  font-size: 22px;
  margin: 1em 0;
  line-height: 1.4em;
}

/* line 77, ../sass/screen.scss */
#splash {
  position: relative;
  overflow: visible;
  margin: 8% 20% 0 30%;
  padding-top: 40px;
}

/* line 83, ../sass/screen.scss */
#avatar {
  position: absolute;
  left: -134px;
  top: 0;
  display: block;
}

@media only screen and (max-width: 800px) {
  /* line 90, ../sass/screen.scss */
  #splash {
    margin: 6% 15% 0 25%;
  }

  /* line 93, ../sass/screen.scss */
  h1 {
    font-size: 48px;
  }

  /* line 96, ../sass/screen.scss */
  h2 {
    font-size: 24px;
  }

  /* line 99, ../sass/screen.scss */
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 104, ../sass/screen.scss */
  #splash {
    margin: 3% 10% 0 25%;
    padding-top: 35px;
  }

  /* line 108, ../sass/screen.scss */
  #avatar {
    left: -118px;
  }

  /* line 111, ../sass/screen.scss */
  h1 {
    font-size: 44px;
  }

  /* line 114, ../sass/screen.scss */
  h2 {
    font-size: 22px;
  }

  /* line 117, ../sass/screen.scss */
  p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 122, ../sass/screen.scss */
  #splash {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 560px) {
  /* line 127, ../sass/screen.scss */
  #splash {
    margin: 0 5% 0 5%;
    padding-top: 0;
  }

  /* line 131, ../sass/screen.scss */
  #avatar {
    position: relative;
    left: auto;
    margin: 0 auto;
    width: 72px;
    height: 155px;
  }

  /* line 138, ../sass/screen.scss */
  h1 {
    font-size: 38px;
    text-align: center;
  }

  /* line 142, ../sass/screen.scss */
  h2 {
    font-size: 24px;
    text-align: center;
  }
}
