.social-links__list {
    margin: 0;
    padding: 0;
}

.social-links__item {
    display: inline-block;
    margin-right: 15px;
    &:last-child {
        margin-right: 0;
    }
}

.social-links__link {
    display: inline-block;
    &:hover {
        .social-links__icon {
            fill: $green;
        }
    }
}

.social-links__icon {
    display: inline-block;
    height: 46px;
    width: 46px;
}
