<!doctype html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/components/normalize-css/normalize.css">
    <style type="text/css">
        body { background:#f7ffa9; }
        article { background:rgba(255,255,255,0.5); }
    </style>
</head>
<body>

    <h1>Hey! I'm Victor Nguyen.</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects/">Projects</a>
    </nav>

    <section>
        {{ content }}
    </section>

</body>
</html>